body {
  background:#eeeeee;
}
table.table tr td {
  height:50px;
  width:50px;
}
.table th, .table td {
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.center {
  text-align: center;
}
.btn-success {
  margin-top:10px;
}
pre.pre-scrollable {
  min-height:180px;
  max-height:180px;
  height:180px;
}